@{
  Layout = "_Layout";
}

@model Bakeshop.Models.Treat;

<h2>Add a New Treat</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  <p>@Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

  <br />
  <input type="submit" value="Add Treat" class="btn btn-primary" />
}