@{
  Layout = "_Layout";
}

@model Bakeshop.Models.Treat;

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.Type)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)
    <p>@Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    <p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

    <input type="submit" value="Save" />
}